@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap"); //[Nunito Sans] 300 600 800

html {
  font-size: 100%;
  box-sizing: border-box;

  overflow: visible;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans";
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

.flex {
  display: flex;

  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-ai-c {
    align-items: center;
  }

  &-ai-fs {
    align-items: flex-start;
  }

  &-column {
    flex-direction: column;
  }
}

.container {
  &-dark {
    transition: all 200ms ease-in-out;

    background-color: $veryDarkBlue;
  }

  margin-top: -1px;
  padding: 45px 80px;

  height: 100%;
  min-height: 100vh;

  background-color: $veryLightGray;
}

@media screen and (max-width: 500px) {
  .container {
    padding: 35px 70px;
  }
}
