.header {
  &-dark {
    transition: all 200ms ease-in-out;
    background-color: $darkBlue;

    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    color: $white;
  }

  padding: 30px 80px;

  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  .mode-icon {
    height: 18px;
    margin-right: 10px;

    &__dark {
      transition: all 200ms ease-in-out;
      filter: brightness(0) invert(1);
    }
  }

  h3 {
    font-weight: 600;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 45px 20px;

    h1 {
      font-size: 16px;
    }

    h3 {
      font-size: 16px;
    }
  }
}
