.actionCenter {
  margin-bottom: 50px;

  .search-bar {
    &__dark {
      transition: all 200ms ease-in-out;
      color: $white;
      background-color: $darkBlue;

      &::placeholder {
        transition: all 200ms ease-in-out;

        color: $white;
      }
    }

    font-size: 16px;

    width: 37vw;
    padding: 20px 32px;

    border-radius: 5px;
    border: none;

    outline: none;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .selector {
    border-radius: 5px;

    position: relative;
    padding: 20px;

    background: $white;
    color: $veryDarkBlueText;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    h3 {
      font-weight: 600;
      margin-right: 50px;
    }

    &__dark {
      transition: all 200ms ease-in-out;
      background-color: $darkBlue;
      color: $white;

      img {
        transition: all 200ms ease-in-out;

        filter: brightness() invert(1);
      }
    }

    &__arrow {
      height: 15px;

      &-open {
        transition: transform 200ms ease-in-out;
        transform: rotate(-90deg);
      }
    }

    &__region {
      border-radius: 5px;

      visibility: hidden;
      background-color: $white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      text-align: left;
      width: 100%;
      position: absolute;
      top: 125%;
      left: 0;

      padding: 20px 0;

      &__dark {
        transition: all 200ms ease-in-out;
        background-color: $darkBlue;
        color: $white;

        img {
          transition: all 200ms ease-in-out;

          filter: brightness() invert(1);
        }
      }

      h3 {
        margin-left: 30px;
        margin-bottom: 10px;
      }

      h3:hover {
        cursor: pointer;
      }

      &-open {
        @keyframes region-open {
          from {
            visibility: hidden;
            opacity: 0;
          }

          1% {
            visibility: visible;
            opacity: 0;
          }

          to {
            visibility: visible;
            opacity: 100;
          }
        }

        animation: region-open 200ms ease-in-out forwards;
      }
    }
  }
}

.data {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 75px;
  row-gap: 75px;

  .box {
    &__dark {
      transition: all 200ms ease-in-out;
      background-color: $darkBlue;
      color: $white;
    }

    height: 100%;
    background-color: $white;

    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &__img {
      width: 100%;
      height: 160px;

      max-height: 200px;

      border-radius: 5px 5px 0 0;
    }

    &__title {
      text-align: left;
      font-size: 17px;
      font-weight: 800;

      margin-top: 25px;
      margin-bottom: 25px;
    }

    &__text {
      &:last-child {
        margin-bottom: 45px;
      }
      margin-bottom: 12px;

      font-size: 16px;
      font-weight: 600;
      float: left;

      p {
        font-weight: 300;
        float: right;

        margin-left: 5px;
      }
    }

    &__data {
      padding: 0 25px;
    }
  }
}

@media screen and (max-width: 1250px) {
  .data {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .data {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .data {
    grid-template-columns: 1fr;
  }

  .actionCenter {
    flex-direction: column;
    align-items: baseline;
    .search-bar {
      width: 75%;

      margin-bottom: 50px;
    }
  }
}

.box :hover {
  cursor: pointer;
}

.box :active {
  opacity: 0.7;
}
